.nav-link {
  color: white !important;
  margin: 10px;
}

.disable-carousel-click {
  pointer-events: none;
}

.moveButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

/* .carousel-control-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel-control-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
   */